<!DOCTYPE html> 
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
</head>




<p id="notice"><%= notice %></p>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><b>SingleFile</b></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Go to manager dashboard', manager_session_path, class: 'btn btn-primary' %></li>
        <li><%= link_to "Sign Out", destroy_manager_session_path, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %></li>
        

      </ul>
    </div>
  </div>
</div>

<br></br>
<br></br>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><b>SingleFile</b></a>
    </div>
    <div class="navbar-collapse collapse" id="nav-color">

      <ul id="sign-out-button" class="nav navbar-nav navbar-right">

        <%= button_to "Manager sign out", destroy_manager_session_path, method: :delete, class: 'btn btn-warning', type: 'button', data: { confirm: 'Are you sure?' } %>
      </ul>


    </div>


  </div>
</div>


<div class="content">
Line starts now!
<%= link_to 'Edit', edit_line_path(@line),  class: "btn btn-warning"%>
<%= link_to 'Back', current_manager , class: "btn btn-success"%>
</div>