<%if current_user.attended_events != nil%>
  <% current_user.attended_events.each do |event| %>
    <div class="row border">

      <div class="col-xs-1">
        <%if event.event_pictures.empty? == false%>
        <% event_picture = event.event_pictures[0] %>
        <%= image_tag event_picture.image_url.to_s, class: "list_event" %>
        <%else%>
        <%= image_tag 'default_picture.png', class: "list_event" %>
        <%end%>
      </div>

      <div class="col-xs-9 event-name">
        <%= event.name %>
      </div>

      <div class="col-xs-6 event-time">
        Start@
        <%= Date.parse(event.start_time.to_s).strftime("%k:%M%p")%>
        &nbsp;
        &nbsp;
        &nbsp;
        <%= Date.parse(event.start_time.to_s).strftime("%B %e %Y")%>
      </div>

      <div class="col-xs-12 event-description">
        <%= event.description %>
      </div>


        
      <div class="col-xs-12 event-action-buttons">
        <%if event.line.end_time < DateTime.now%>
          <button class="btn btn-success">Your Ticket</button>
        <%end%>
        <%= link_to 'Show', event, class: "btn btn-info" %>
        <%= link_to 'Quit', {:controller => 'users', :action=> 'quit', :delete_att => event, remote: true} ,{class: 'btn btn-danger', type: 'button'}%>
      </div>
    </div>
  <% end %>
<% end %>
