
<% if @events.nil? %>
<% elsif @events.length == 0%>
  <p>No relative events found</p>
<% else %>
  <% @events.each do |event| %>
    <div class = "row border", id="event-<%= event.id.to_s %>">

      <div class="col-xs-1">
        <%if event.event_pictures.empty? == false%>
        <% event_picture = event.event_pictures[0] %>
        <%= image_tag event_picture.image_url.to_s, class: "list_event" %>
        <%else%>
        <%= image_tag 'default_picture.png', class: "list_event" %>
        <%end%>
      </div>

      <div class="col-xs-9 event-name">
        <%= event.name %>
      </div>

      <div class="col-xs-6 event-time">
        Start@
        <%= Date.parse(event.start_time.to_s).strftime("%k:%M%p")%>
        &nbsp;
        &nbsp;
        &nbsp;
        <%= Date.parse(event.start_time.to_s).strftime("%B %e %Y")%>
      </div>

      <div class="col-xs-12 event-description">
        <%= event.description %>
      </div>

      <div class="col-xs-6 event-action-buttons">

      <%= link_to 'Show', event, class: 'btn btn-info', type: 'button'%>

      <% if current_user.favorited_events.include?(event) == false %>
        <%= link_to 'Save', {:controller => 'users', :action=>'save', :fav => event, remote: true}, {class: 'btn btn-success save-button', type: 'button'} %>
      <% else %>
        <button class="btn btn-grey disabled save-button">Saved!</button>
      <% end %>
      <% if event.line == nil || event.line.start_time == nil%>
        <button class="btn btn-grey disabled attend-button">Line not started</button>
      <% elsif event.line.end_time < DateTime.now%>
        <button class="btn btn-grey disabled">Line already ended</button>
      <% elsif event.line.users.length >= event.max_attendance %>
        <button class="btn btn-grey disabled">Line already full</button>
      <% elsif event.line.users.include?(current_user)%>
        <button class="btn btn-grey attend-button disabled">In line!</button>
      <% else %>
        <%= link_to 'Line', {:controller => 'users', :action=>'line', :line_event => event, remote: true}, {class: 'btn btn-warning attend-button', type: 'button'} %>
      <% end %>
      </div>
    </div>
  <% end %>
<% end %>


