
<% if @events.nil? %>
<% elsif @events.length == 0%>
  <p>No relative events found</p>
<% else %>
  <% @events.each do |event| %>
    <tr id="event-<%= event.id.to_s %>">
      <td><%= event.name %></td>
      <td><%= link_to 'Show', event, class: 'btn btn-info', type: 'button'%></td>

      <% if current_user.favorited_events.include?(event) == false %>
        <td><%= link_to 'Save', {:controller => 'users', :action=>'save', :fav => event, remote: true}, {class: 'btn btn-success save-button', type: 'button'} %></td>
      <% else %>
        <td><button class="btn btn-grey disabled save-button">Saved!</button></td>
      <% end %>
      <% if event.line == nil %>
        <td><button class="btn btn-grey disabled attend-button">Line not started</button></td>
      <% elsif event.line.users.include?(current_user)%>
        <td><button class="btn btn-grey attend-button disabled">In line!</button></td>
      <% else %>
        <td><%= link_to 'Line', {:controller => 'users', :action=>'line', :line_event => event, remote: true}, {class: 'btn btn-warning attend-button', type: 'button'} %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>

