
<% if @events.nil? %>
<% elsif @events.length == 0%>
  <p>No relative events found</p>
<% else %>
  <% @events.each do |event| %>
    <tr>
    <td><%= event.name %></td>
    <td><%= link_to 'Show', event, class: 'btn btn-info', type: 'button'%></td>

    <% if current_user.favorited_events.include?(event) == false %>
      <td><%= link_to 'Save', {:controller => 'users', :action=>'save', :fav => event}, {class: 'btn btn-success', type: 'button'} %></td>
    <% else %>
      <td><button class="btn btn-grey">Saved!</button></td>
    <% end %>
    <% if event.line == nil %>
      <td><%= link_to 'Line', {:controller => 'users', :action=>'line', :line_event => event}, {class: 'btn btn-warning disabled', type: 'button'} %></td>
    <% elsif event.line.users.include?(current_user)%>
      <td><button class="btn btn-grey">In line!</button></td>
    <% else %>
      <td><%= link_to 'Line', {:controller => 'users', :action=>'line', :line_event => event}, {class: 'btn btn-warning', type: 'button'} %></td>
    <% end %>
    </tr>
  <% end %>
<% end %>

