<!DOCTYPE html> 
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
</head>




<p id="notice"><%= notice %></p>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><b>SingleFile</b></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Edit Profile", edit_user_path, class: 'btn btn-primary' %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %></li>
        

      </ul>
    </div>
  </div>
</div>


<br></br>
<br></br>

<div class="navbar-placeholder"></div>
  <div class="container">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="<%= @pane_1_status %>">
        <a  href="#1" data-toggle="tab">Current Events</a>
      </li>
      <li><a href="#2" data-toggle="tab">Favorite Events</a>
      </li>
      <li class="<%= @pane_3_status %>"><a href="#3" data-toggle="tab">Search Events</a>
      </li>
    </ul>

      <div class="tab-content ">
        <div class="tab-pane <%= @pane_1_status %>" id="1">
          <div id="attending-list">
            <%= render "attending_list" %>
          </div>
        </div>
        <div class="tab-pane" id="2">
          <div id="favorite-list">
            <%= render "favorite_list" %>
          </div>
        </div>
        <div class="tab-pane <%= @pane_3_status %>" id="3">
          <table class="table-in-tabs">
            <thead>
              <tr>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <%= form_tag user_search_path, method: :get, remote: true do %>
              <%= text_field_tag :search, params[:search], size: 30 %>
              <%= submit_tag "Search", name: nil, class: "btn btn-default", id: "search-button" %>
              <% end %>
            </tbody>
            <tbody id="search-result">
              <%= render "search_result" %>
            </tbody>
                
            
        </table>
      </div>
    </div>
  </div>




