<p id="notice"><%= notice %></p>

<h1>Listing Event Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_pictures.each do |event_picture| %>
      <tr>
        <td><%= event_picture.event_id %></td>
        <td><%= event_picture.image %></td>
        <td><%= link_to 'Show', event_picture %></td>
        <td><%= link_to 'Edit', edit_event_picture_path(event_picture) %></td>
        <td><%= link_to 'Destroy', event_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event picture', new_event_picture_path %>
