<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><b>SingleFile</b></a>
    </div>
    <div class="navbar-collapse collapse" id="nav-color">

      <ul id="sign-out-button" class="nav navbar-nav navbar-right">

        <%= button_to "Manager sign out", destroy_manager_session_path, method: :delete, class: 'btn btn-warning', type: 'button' %>
      </ul>


    </div>
  </div>
</div>

<div class="navbar-placeholder"></div>
<div class="container">
  <p id="notice"><%= notice %></p>
</div>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab-pane-1" data-toggle="tab">All Events</a>
    </li>
    <li>
      <a href="#tab-pane-2" data-toggle="tab">Monitor Events</a>
    </li>
    <li>
      <a href="#tab-pane-3" data-toggle="tab">Past Events</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab-pane-1">

      <div class="create-event-button">
      <%= link_to 'Create Event', new_event_path(@event), class: "btn btn-success" %> 
      </div>
      <% @events.each do |event| %>
        <div class="row">
          <div class="col-xs-6 event-name">
            <%= event.name %>
          </div>
          <div class="col-xs-6">
            <%= link_to 'Show', event, class: "btn btn-info" %>
            <%= link_to 'Start Line', {:controller => 'events', :action=>'createLine', :startevent => event},  class: "btn btn-success"%>
            <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
            <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
      	<% if event.manager_id == current_manager.id %>
        <td><%= event.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
-->

</div>