<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href={% static "assets/img/favicon.png" %}>

    <title>Smarter Events</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">



<p id="notice"><%= notice %></p>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><b>SingleFile</b></a>
    </div>

    <div class="navbar-collapse collapse" id="nav-color">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Edit Profile", edit_manager_path, class: 'btn btn-primary' %></li>
        <li><%= link_to "Sign Out", destroy_manager_session_path, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %></li>
        

      </ul>
    </div>
  </div>
</div>


<br></br>

<div class="navbar-placeholder"></div>
<div class="container">
  <p id="notice"><%= notice %></p>
</div>
<div class="container">
  <ul class="nav nav-tabs" id="tabs-customcss">
    <li class="active">
      <a href="#tab-pane-1" data-toggle="tab">All Events</a>
    </li>
    <li>
      <a href="#tab-pane-2" data-toggle="tab">Current Events</a>
    </li>
    <li>
      <a href="#tab-pane-3" data-toggle="tab">Past Events</a>
    </li>
  </ul> 



<div class="tab-content">
    
    <div class="tab-pane active" id="tab-pane-1">

      <div class="create-event-button">
      <%= link_to 'Create Event', new_event_path(@event), class: "btn btn-success" %> 
      </div>
      <div class="row">
      <% @events.each do |event| %>

            <%if event.line != nil && event.line.end_time != nil%>
              <%if event.line.end_time > DateTime.now%>
                <%if event.line.end_time > DateTime.now%>
                  <div class="col-xs-6 event-name">
                    <%= event.name %>
                  </div>
                  <div class="col-xs-6">
                    <%= link_to 'Show', event, class: "btn btn-info" %>
                    <%if @active_events.include?(event)%>
                        <button class="btn btn-grey">Line already started</button>
                    <%else%>
                        <%= link_to 'Start Line', {:controller => 'events', :action=>'createLine', :startevent => event},  class: "btn btn-success"%>
                    <%end%>
                    <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                    <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                    </div>
                <%end%>
              <%else%>

                <div class="col-xs-6 event-name">
                  <%= event.name %>
                </div>
                <div class="col-xs-6">
                  <%= link_to 'Show', event, class: "btn btn-info" %>
                  <%= link_to 'Start Line', {:controller => 'events', :action=>'createLine', :startevent => event},  class: "btn btn-success"%>
                  <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                  <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                  </div>
              <%end %>
            <%else %>
              <div class="col-xs-6 event-name">
                    <%= event.name %>
                  </div>
                  <div class="col-xs-6">
                    <%= link_to 'Show', event, class: "btn btn-info" %>
                    <%= link_to 'Start Line', {:controller => 'events', :action=>'createLine', :startevent => event},  class: "btn btn-success" %>
                    <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                    <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                    </div>
            <%end %>
        
       
      <% end %>
      </div>
    </div>


    <div class="tab-pane" id="tab-pane-2">

      <div class="create-event-button">
      <%= link_to 'Create Event', new_event_path(@event), class: "btn btn-success" %> 
      </div>
      <div class="row">
      <% @active_events.each do |event| %>
          <div class="col-xs-6 event-name">
            <%= event.name %>
          </div>
          <div class="col-xs-6">
            <%= link_to 'Show', event, class: "btn btn-info" %>
            <button class="btn btn-grey">Line already started</button>
            <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
            <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane" id="tab-pane-3">

      <div class="create-event-button">
      <%= link_to 'Create Event', new_event_path(@event), class: "btn btn-success" %> 
      </div>
      <% @events.each do |event| %>
        <div class="row">

          
          <%if event.line != nil && event.line.end_time != nil%>
            <%if event.line.end_time < DateTime.now%>
                <div class="col-xs-6 event-name">
                  <%= event.name %>
                </div>
                <div class="col-xs-6">
                  <%= link_to 'Show', event, class: "btn btn-info" %>
                  <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                </div>

                  <div class="col-xs-6 event-name">
                    <%= event.name %>
                  </div>
                  <div class="col-xs-6">
                    <%= link_to 'Show', event, class: "btn btn-info" %>
                    <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                  </div>
            <%end%>
          <%end%>
        </div>
      <%end%>
    </div>

</div>








