<p id="notice"><%= notice %></p>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><b>SingleFile</b></a>
    </div>

    <div class="navbar-collapse collapse" id="nav-color">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Edit Profile", edit_manager_path, class: 'btn btn-primary' %></li>
        <li><%= link_to "Sign Out", destroy_manager_session_path, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %></li>
        

      </ul>
    </div>
  </div>
</div>


<br></br>

<div class="navbar-placeholder"></div>
<div class="container">
  <p id="notice"><%= notice %></p>
</div>
<div class="container">
  <ul class="nav nav-tabs" id="tabs-customcss">
    <li class="active">
      <a href="#tab-pane-1" data-toggle="tab">All Events</a>
    </li>
    <li>
      <a href="#tab-pane-2" data-toggle="tab">Monitor Events</a>
    </li>
    <li>
      <a href="#tab-pane-3" data-toggle="tab">Past Events</a>
    </li>
  </ul> 



<div class="tab-content">
    
    <div class="tab-pane active" id="tab-pane-1">

      <div class="create-event-button">
      <%= link_to 'Create Event', new_event_path(@event), class: "btn btn-success" %> 
      </div>
      <% @events.each do |event| %>

      <% cache(cache_key_for_all_event(event)) do %>

         <div class = "row border">
            <div class="col-xs-1">
              <%if event.event_pictures.empty? == false%>
              <% event_picture = event.event_pictures[0] %>
              <%= image_tag event_picture.image_url.to_s, class: "list_event" %>
              <%else%>
              <%= image_tag 'default_picture.png', class: "list_event" %>
              <%end%>
            </div>


            <div class="col-xs-9 event-name">
                      <%= event.name %>
                    </div>

                    <div class="col-xs-6 event-time">
                      Start @
                      <%= event.start_time.strftime("%H:%M:%S")%>
                      &nbsp;
                      &nbsp;
                      &nbsp;
                      <%= event.start_time.strftime("%Y-%m-%d")%>
                    </div>

                    <div class="col-xs-12 event-description">
                      <%= event.description %>
                    </div>

      <%end%>

            <%if event.line != nil%>
                <%if event.line.end_time != nil%>
                  <%if event.line.end_time > DateTime.now%>

                  <div class="col-xs-6 event-action-buttons">
                      <%= link_to 'Show', event, class: "btn btn-info" %>

                      <%if @active_events.include?(event)%>
                          <button class="btn btn-grey">Line already started</button>
                      <%else%>
                          <%= link_to 'Start Line', {:controller => 'events', :action=>'createLine', :startevent => event},  class: "btn btn-success"%>
                      <%end%>
                      <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                      <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                  </div>
                  <%else%>
                      <div class="col-xs-6 event-action-buttons">
                        <%= link_to 'Show', event, class: "btn btn-info" %>
                        <button class="btn btn-grey">Line already ended</button>
                        <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                        </div>

                  <%end%>
                <%else%>

                    <div class="col-xs-6 event-action-buttons">
                    <%= link_to 'Show', event, class: "btn btn-info" %>
                    <%= link_to 'Start Line', {:controller => 'events', :action=>'createLine', :startevent => event},  class: "btn btn-success"%>
                    <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                    <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                    </div>
                <%end %>
            <%else %>

              <div class="col-xs-6 event-action-buttons">
                <%= link_to 'Show', event, class: "btn btn-info" %>
                <%= link_to 'Start Line', {:controller => 'events', :action=>'createLine', :startevent => event},  class: "btn btn-success"%>
                <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
                <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                </div>
            <%end %>
      </div>
      <% end %>
    
    </div>


    <div class="tab-pane" id="tab-pane-2">

      <div class="create-event-button">
      <%= link_to 'Create Event', new_event_path(@event), class: "btn btn-success" %> 
      </div>
      <% @active_events.each do |event| %>

      <% cache(cache_key_for_current_event(event)) do %>

          <div class = "row border">

            <div class="col-xs-1">
              <%if event.event_pictures.empty? == false%>
              <% event_picture = event.event_pictures[0] %>
              <%= image_tag event_picture.image_url.to_s, class: "list_event" %>
              <%else%>
              <%= image_tag 'default_picture.png', class: "list_event" %>
              <%end%>
            </div>

            <div class="col-xs-9 event-name">
              <%= event.name %>
            </div>

            <div class="col-xs-6 event-time">
                Start @
                <%= event.start_time.strftime("%H:%M:%S")%>
                &nbsp;
                &nbsp;
                &nbsp;
                <%= event.start_time.strftime("%Y-%m-%d")%>
            </div>

            <div class="col-xs-12 event-description">
              <%= event.description %>
            </div>

      <% end %>

        <div class="col-xs-6 event-action-buttons">
          <%= link_to 'Show', event, class: "btn btn-info" %>
          <button class="btn btn-grey">Line already started</button>
          <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
          <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
        </div>

        </div>

        <% end %>
    </div>

    <div class="tab-pane" id="tab-pane-3">

      <div class="create-event-button">
      <%= link_to 'Create Event', new_event_path(@event), class: "btn btn-success" %> 
      </div>
      <% @events.each do |event| %>

      <% cache(cache_key_for_past_event(event)) do %>
          <%if event.line != nil%>
            <%if event.line.end_time != nil%>
              <%if event.line.end_time < DateTime.now%>
              <div class="row border">
                  <div class="col-xs-1">
                    <%if event.event_pictures.empty? == false%>
                    <% event_picture = event.event_pictures[0] %>
                    <%= image_tag event_picture.image_url.to_s, class: "list_event" %>
                    <%else%>
                    <%= image_tag 'default_picture.png', class: "list_event" %>
                    <%end%>
                  </div>

                  <div class="col-xs-9 event-name">
                    <%= event.name %>
                  </div>

                  <div class="col-xs-6 event-time">
                      Start @
                      <%= event.start_time.strftime("%H:%M:%S")%>
                      &nbsp;
                      &nbsp;
                      &nbsp;
                      <%= event.start_time.strftime("%Y-%m-%d")%>
                  </div>

                  <div class="col-xs-12 event-description">
                    <%= event.description %>
                  </div>
                  <div class="col-xs-6 event-action-buttons">
                    <%= link_to 'Show', event, class: "btn btn-info" %>
                    <%= link_to 'Destroy', event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                  </div>

                </div>
              <%end%>
            <%end%>
          <%end%>
      <% end %>
      <%end%>
    </div>

</div>








