<!DOCTYPE html> 
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
</head>




<p id="notice"><%= notice %></p>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><b>SingleFile</b></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">


      <% if user_signed_in? %>
        <li><%= link_to 'Go to user dashboard', user_session_path, class: 'btn btn-primary' %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %></li>
      <% else %>
        <li><%= link_to 'Go to manager dashboard', manager_session_path, class: 'btn btn-primary' %></li>
        <li><%= link_to "Sign Out", destroy_manager_session_path, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %></li>
      <% end %>
        

      </ul>
    </div>
  </div>
</div>

<br></br>
<br></br>

<div class="navbar-placeholder"></div>
  <div class="container">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="container">
    <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab-pane-1" data-toggle="tab">Event Info</a>
    </li>
    <li>
      <a href="#tab-pane-2" data-toggle="tab">Line Info</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab-pane-1">
      <div class="container">
        <div class="row">
          <div class="col-xs-12" id="event-title">
            <%= @event.name %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-9">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <%if @event_pictures.empty? == false%>
                  <%@event_pictures.each do |event_picture|%>
                    <div class="item"><%= image_tag event_picture.image_url.to_s, class: "clip" %></div>
                  <%end%>
                <%else%>
                  <p><%= "No picture uploaded for this event"%></p>
                <%end%>
            </div>

          </div>
        </div>
    
        <div class="row">
          <div class="col-xs-3">
            Max attendance
          </div>
          <div class="col-xs-3">
            <%= @event.max_attendance %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            Start time
          </div>
          <div class="col-xs-3">
            <%= @event.start_time %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            Create time
          </div>
          <div class="col-xs-3">
            <%= @event.created_at %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            Description
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <%= @event.description %>
          </div>
        </div>
        <% if manager_signed_in? %>
          <div class="row">
            <div class="col-xs-1">
              <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-warning" %>
            </div>
            <div class="col-xs-1">
              <%= link_to 'Destroy', @event, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>

            </div>
            <div class="col-xs-1">
              <%= link_to 'Back', current_manager, class: "btn btn-default" %>
            </div>
          
          </div>
          <% end %>
         
          
        </div>
      </div>
      <div class="tab-pane" id="tab-pane-2">
        <% if @event.line.nil? == false %>
          <p><%= @event.line.start_time %></p>
          <p><%= @event.line.end_time %></p>
          <h4>current users in line:</h4>
          <% @event.line.users.each do |user|%>
            <p><%= user.first_name %></p>
          <% end %>
        <% else %>
          <h4>Line has not been started yet.</h4>
        <% end %>
      </div>

    </div>
  </div>
